<!-- <div class="container mt-5">
    <div class="card" style="padding: 50px;display: flex; flex-direction: column; align-items: center; justify-content: center; height: 60vh; max-width: 300px; margin: auto;">
  
      <div style="position: absolute; top: 0; left: 0; right: 0; height: 60px; background-color: #1976D2; color: white; text-align: center; padding-top: 17px;">
        <strong>Login Form</strong>
      </div>
  
      <form
       
       >
     
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" ngModel name="userName" id="userName">
          <mat-icon matSuffix class="user-icon">account_circle</mat-icon> 
        </mat-form-field>
  
  <br>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" ngModel name="userPassword" id="userPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
  
        </mat-form-field>
  
        
  <br>

  <mat-form-field appearance="outline">
    <mat-label>User FirstName</mat-label>
    <input matInput placeholder="Enter your username" ngModel name="userName" id="">
    <mat-icon matSuffix class="user-icon">account_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User LastName</mat-label>
    <input matInput placeholder="Enter your username"
     ngModel name="userName" id=""
     >
    <mat-icon matSuffix class="user-icon">account_circle</mat-icon> 
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Enter your username" ngModel name="userName" id="">
    <mat-icon matSuffix class="user-icon">account_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your username" ngModel name="userName" id="">
    <mat-icon matSuffix class="user-icon">account_circle</mat-icon> 
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput placeholder="Enter your username" ngModel name="userName" id="">
    <mat-icon matSuffix class="user-icon">account_circle</mat-icon> 
  </mat-form-field>
  
  
       
        <button mat-raised-button color="purple" type="submit" class="custom-button">
        Register
        </button>
       
   </form> 
  </div>
  </div>
   -->